.styles {
  padding: 1rem;
  width: 90%;
  max-width: 20rem;
}

.styles label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.styles select {
  display: block;
  width: 100%;
  border: 1px solid #ccc;

  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.styles img {
  flex-direction: column;
  align-items: center;
}
