.wrapper {
    position: relative;
    width: 200px;
}

.wrapper .dropdown {
    background: #fff;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 0;
    font-family: "Open Sans";
    font-size: 22px;
    display: flex;
    align-items: center;
}

.button {
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    font-size: 20px;
    position: relative;
    align-self: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition-duration: 1s;
}

.button:hover {
    transform: scale(.95);
}
