.wrapper {
    position: relative;
    width: 200px;
}

.wrapper .dropdown {
    background: #fff;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 0;
    font-family: "Open Sans";
    font-size: 22px;
    display: flex;
    align-items: center;
}

.button {
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    font-size: 20px;
    position: relative;
    align-self: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition-duration: 1s;
}

.button:hover {
    transform: scale(.95);
}

.dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.button:focus .dropdown,
.button:focus-wthin .dropdown
.button:hover .dropdown {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}