@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#45f2f5, #049bc9);
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 40px;
  color: white;
  font-family: "Bebas Neue";
  text-shadow: 5px 2px black;
}

.components {
  color: white;
  font-family: "Bebas Neue";
}

.App-components {
  background-color: #315aad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
