.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 20px 0;
  max-width: 50vw;
}

.control {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 20px 0;
  max-width: 50vw;
}

/* .loadingIcon {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
} */