.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid black; */
}

.button {
  /* cursor: pointer; */
  padding: 0px 20px 0px;
  border: 2px solid indigo;
  background-color: indigo;
}

.label {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
